html {
    background-color: darkslategray;
    color: white;
}

.top, .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    gap: 1em;
}
.top div, .mid{
    padding: 3em;
    border: 2px solid black;
}

.mid {
   margin-top: 2em; 
}